/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/header.png');
}

.profile-img-card {
     vertical-align: middle !important;
    height: 20%;
    width: 15%;
 }

.profile-name-card {
    text-align: center;
}

 .panel {
     margin-top: 20px;
     border-radius: 0px !important;
 }

#profile-name {
    font-family: "DejaVu Sans Light";
}



