/*SOURCE: http://thecodeplayer.com/walkthrough/css3-image-slider-with-stylized-thumbnails*/
/* * {margin: 0; padding: 0;}*/
/* body {background: #ccc;} */


.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;

	float: left;
	cursor: pointer;
	transition: all 0.5s;

	/*Default style = low opacity*/
	opacity: 1.0;

	position: relative;
}

.slider label span.delete-button{
	position: absolute;
	top: -5px;
	right: 0px;
}

.slider label img{
	display: block;
	width: 150px;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
