/*General CSS for the Entire Site*/
body {
    padding-top: 50px;
}

* {
    border-radius: 0 !important;
}

.nav.navbar-nav.navbar-right li a {
    color: #5B0000;
}
.nav.navbar-nav.navbar-right li a:hover {
    background-color: #5B0000;
    border-color: #5B0000;
    color: #FFFFFF;
}

.navbar {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    margin-bottom: 0px;
}

#nav {
    color: #5B0000;
    font-family: "DejaVu Sans Light";

}

.navbar-right button {
    margin-top: 7px;
}

.navbar-inverse .navbar-toggle .icon-bar {

    background-color: #999;

}

.btn {
    border-radius: 0 !important;
    font-weight: 700;
}

.jumbotron {
    text-align: center;
    color: #FFFFFF;
    font-family: "DejaVu Sans Light";
    margin-bottom: 0;
    background-size: cover;
}

#homeHeading {
    font-family: "DejaVu Sans Light";
}


.member {
    margin-top: 20px;
    margin-bottom: 20px;
}

.member-info {
    text-align: center;
    width: 207px;

}

.member-image {
    height: 310px;
    width: 207px;
}

.img-responsive {
    margin-bottom:20px;
}


#gallery {
    margin-top: 20px;
}

#social {
    color: #5B0000;
}


/*Home Page CSS Below*/

/*CSS for attendance page*/
.subject-info-box-1,
.subject-info-box-2 {
  float: left;
  width: 45%;
}

.subject-info-box-1 select,
  .subject-info-box-2 select {
  height: 70%;
  padding: 0;
}

.subject-info-box-1 select option,
    .subject-info-box-2 select option {
  padding: 4px 10px 4px 10px;
}

.subject-info-box-1 select option:hover,
    .subject-info-box-2 select option:hover {
  background: #EEEEEE;
}

.subject-info-arrows {
  float: left;
  width: 10%;
}

.subject-info-arrows input {
  width: 70%;
  margin-bottom: 5px;
}
